.tag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tag-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF6060;
    color: #FFF;
    border-radius: 10px;
    min-width: 101px;
    min-height: 25px;
    font-size: 14px;
    margin-right: 10px;
    padding: 0px 7px
}

.tag-btn p {
    margin: 0;
}


/* MEDIA QUERIES SMALL */
@media all and (min-width: 0px) and (max-width: 1239px) {

    

}