.homeIntro{
    max-width: 355px;    
    margin: 20px auto;
    width: 100%;
}
.homeIntroContainer{ 
    margin: auto;
    
}


.homeIntroBackground{ 
    display: flex;
    align-items: center;
    min-height: 111px;        
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../assets/images/homeBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 10px;    
    mix-blend-mode: darken;    
}

.titleContainer{        
    display: flex;
    padding: 0 110px 0 10px;
    margin: auto;
    
}

.introTitle{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    flex-wrap: wrap;
    
}





@media all and (min-width: 768px) and (max-width: 1023px){
    .homeIntro{
        max-width: 740px;    
       
    }

    .titleContainer{
        padding: 0;        
    }

    .titleContainer h1{
        font-size: 24px;
    }
}



@media all and (min-width: 1024px) and (max-width: 1439px){
    .homeIntro{
        max-width: 920px;
        max-height: 223px;
    }

    .homeIntroBackground{
        min-height: 223px;
    }
    .titleContainer{
        padding: 0;
    }
    .titleContainer h1{
        font-size:350%;
    }


}

@media all and (min-width: 1440px){
    .homeIntro{
        max-width: 1240px;
        
    }

    .homeIntroBackground{
        min-height: 223px;
        width: 100%;
    }
    .titleContainer{
        padding: 0;
    }
    .titleContainer h1{
        font-size:350%;
    }
}