.homeIntroContainer{         
    padding: 20px 20px 0 20px;
}


.homeIntroBackground{ 
    /* background-image: url("../../assets/images/homeBackground.png"); */
    /* background-image: linear-gradient(grey, transparent, grey), url("/static/media/homeBackground.efc1935eb81fc5e585f9.png"); */
    display: flex;
    align-items: center;
    min-height: 111px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 10px; 
    /* background: "linear-gradient(ro right, #ffffff, #019CAD)"; */

    /* background-image: linear-gradient(grey, transparent, grey), url("/static/media/homeBackground.efc1935eb81fc5e585f9.png"); */
   

    /* max-height: 111px; */
    /* position: relative; */
}

/* .homeIntroBackground img{
    border-radius: 15px;
    overflow: hidden;
    filter: brightness(60%);
    object-fit: cover;
    max-height: 223px;
    min-height: 111px;
    height: 100%;
     
} */


.titleContainer{        
    display: flex;
    padding: 0 110px 0 10px;    
    /* flex-wrap: wrap; */
    /* padding-right: 35%;        */
    margin: auto;
    ;
}

.introTitle{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    flex-wrap: wrap;
    
}