@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.otf') format('OpenType');       
font-weight: normal;
font-style: normal;       
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.otf') format('OpenType');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family:'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.otf') format('OpenType');
  font-weight: bold;
  font-style: normal;

}







