.navList{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; 
    color: #FF6060;           
    cursor: pointer;
    text-decoration: none;
    padding-left: 30px;
    
}

.active{
    text-decoration: underline;
}


@media all and (min-width: 1024px){
    .navList{
        font-size: 18px;
    }
}
