.greyCardContainer{
    
}


.annonceContainer{
    position: relative;
    
}

.annonceImage{
    padding: 20px;
    
}

.annonceImage img{
    width: 100%;
    min-height: 255px;    
    height: auto;
    max-width: 340px;
    border-radius: 10px;
;
}

.annonceTitle{
    position: absolute;
    bottom: 30px;
    left: 20px;
    /* text-align: left; */
    padding-left: 10px;    
}

.annonceTitle h2{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 220px;
    text-decoration: none;
}

