.error404Msg{
    background-color: #fff;
    text-align: center;
    height: 100vh;
}

.text404{
    font-size: 96px;
    font-weight: 700;
    color:  #FF6060;
}

.Errormessage{
    font-size: 18px;
    font-weight: 500;
    color:  #FF6060;
}

.wrapper404{
    padding-top: 30vh
}

.returnHome{
    display: block;
    margin-top: 150px;
    font-size: 14px;
    font-weight: 500;
    color:  #FF6060;
    text-decoration: underline;
    
}


@media all and (min-width: 768px) {
    .text404{
        font-size: 120px;
       } 
    .Errormessage{
        font-size: 24px;        
    }
    .returnHome{
        font-size: 18px;
    }

}

@media all and (min-width: 1024px) {
    .text404{
        font-size:200px;
       } 

    
    
}

@media all and (min-width: 1440px){
    .text404{
        font-size: 288px;
       } 

       .Errormessage{
        font-size: 36px;        
    }
    .returnHome{
        font-size: 1_px;
    }
    
    
}

